#header {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  height: auto;
  background: #164a5f;
  color: #c8b24f; 
}

#branding h1 {
  color: #bcab62;
}

