{%extends 'admin/base_site.html'%}
{%load static%}

{%block branding%}
<h1 id='head'>TFamily Homeopathy Login</h1>
{%endblock%}

{% block extrastyle%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto+Mono:wght@300;400&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/admin.css'%}">
{% endblock%}